Importing Libraries that we will be using while doing this projects.

In [471]:
import pandas as pd
import numpy as np
import os 
import opendatasets as od
import warnings
warnings.filterwarnings("ignore")

Importing datasets directly from kaggle website that we will be using doing this project

In [472]:
datasets='https://www.kaggle.com/datasets/arashnic/book-recommendation-dataset/data'

In [473]:
od.download(datasets)

Skipping, found downloaded files in ".\book-recommendation-dataset" (use force=True to force download)

In [474]:
data_dir='.\\book-recommendation-dataset'

In [475]:
os.listdir(data_dir)

['Books.csv', 'Ratings.csv', 'recsys_taxonomy2.png', 'Users.csv']

In [476]:
books_data=pd.read_csv('book-recommendation-dataset\Books.csv')

In [477]:
ratings_data=pd.read_csv('book-recommendation-dataset\Ratings.csv')

In [478]:
users_data=pd.read_csv('book-recommendation-dataset\\Users.csv')

In [479]:
ratings_data.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [480]:
users_data.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

Lets do some analysis of the given data.

In [481]:
#Lets start with books data
books_data.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [482]:
#Here firstly lets change and save the changed  titles of the columns so that it will be easier for us to acess it .

books_data.rename(columns=({
    'Book-Title':'title',
    'Book-Author':'author',
    'Year-Of-Publication':'publication',
    'Image-URL-L':'image'
}),inplace=True)

here we can see there are 3 images url it is not compoulsory to keep three of them one is enough so lets
take any one of them ie large

In [483]:
books_data=books_data.drop(['Image-URL-S','Image-URL-M'],axis =1)

In [484]:
books_data.head(1)

,ISBN,title,author,publication,Publisher,image
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...

In [485]:
#it is looking neet and clean isnt is?

In [486]:
books_data.shape

(271360, 6)

In [487]:
#there are more than 2.5lacs books.
#lets now see Users data

In [488]:
users_data.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [489]:
#lets change the columns name of userid and save it

In [490]:
users_data.rename(columns={
    'User-ID':'user_id'
},inplace=True)

In [491]:
users_data.shape

(278858, 3)

From this we can see there are some missing values in ourdatasets we will be handeling it later

In [492]:
ratings_data.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [493]:
#lets change it columns name also and save it.

In [494]:
ratings_data.rename(columns={
    'User-ID':'user_id',
    'Book-Rating':'ratings'
},inplace=True)

In [495]:
ratings_data.head(1)

   user_id        ISBN  ratings
0   276725  034545104X        0

In [496]:
ratings_data.shape

(1149780, 3)

ratings data is more than that of the books this can be because one users can rate the multiple books lets
find it out

In [497]:
# lets see how many users has rated how many times

In [498]:
ratings_data['user_id'].value_counts()

11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
116180        1
116166        1
116154        1
116137        1
276723        1
Name: user_id, Length: 105283, dtype: int64

here we can clearly see that one users has rated more than 13k times and some have rated only one times
so we can take a users that has rated at least certain times/books so that our model can perform well and reduces curse of dimensionlaity.we will be following the following steps

In [499]:
#firstly we will be finding the users who has done at least 100 ratings and we will be updating the raitng_data accordingle
#second we will be merging that updated rating columns into the books_data.
#And we will be finding which books has got how many ratings and will be not taking which has got not pretty much less rating
#Lastely we will be updating the final data accordingly.

In [500]:
A=ratings_data['user_id'].value_counts()>100

In [501]:
A[A].shape

(1825,)

In [502]:
A.shape

(105283,)

In [503]:
#we can see that  only 1825 people has done rating more than 100 times
#lets find out it index of peope who has rated more than 100 time and merge in our rating datasets

In [504]:
B=A[A].index

In [505]:
B

Int64Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352,
            110973, 235105,
            ...
            238186,  99441, 187410, 262070,  70183,  40553,  39345, 266283,
            189666, 140879],
           dtype='int64', length=1825)

In [506]:
ratings_data=ratings_data[ratings_data['user_id'].isin (B)]

In [507]:
ratings_data

         user_id        ISBN  ratings
412       276925  0006511929        0
413       276925  002542730X       10
414       276925  0060520507        0
415       276925  0060930934        0
416       276925  0060951303        0
...          ...         ...      ...
1149633   276680  1884910033        0
1149634   276680  1888173408        7
1149635   276680  1888173564        8
1149636   276680  1888173572        0
1149637   276680  1931561648        9

[656605 rows x 3 columns]

In [508]:
#lets cross check it

In [509]:
ratings_data['user_id'].value_counts()

11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
70183       101
65584       101
238186      101
39345       101
20119       101
Name: user_id, Length: 1825, dtype: int64

In [510]:
ratings_data.shape

(656605, 3)

In [511]:
#we can see now our ratings data compressed to around 6lac

Pretty much good going well

In [512]:
new_ratings=ratings_data.merge(books_data,on='ISBN')

#here we have merged our ratings_data with books_data on ISBN because it is present in both datasets

In [513]:
new_ratings

,user_id,ISBN,ratings,title,author,publication,Publisher,image
0,276925,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
1,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
2,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
3,10030,002542730X,7,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
4,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
...,...,...,...,...,...,...,...,...
604849,276680,089587167X,7,Something Blue,Jean Christopher Spaugh,1997,John F. Blair Publisher,http://images.amazon.com/images/P/089587167X.0...
604850,276680,1402201435,4,The One True Ocean,Sarah Beth Martin,2003,Sourcebooks Landmark,http://images.amazon.com/images/P/1402201435.0...
604851,276680,1564407284,0,"The Old Sturbridge Village Cookbook, 2nd : Aut...",Caroline Sloat,1995,Globe Pequot,http://images.amazon.com/images/P/1564407284.0...
604852,276680,1582343594,0,City of Masks : A Cree Black Novel,Daniel Hecht,2004,Bloomsbury USA,http://images.amazon.com/images/P/1582343594.0...
604853,276680,1888173408,7,Fairy Tale (Common Reader Editions),Alice Thomas Ellis,2001,Akadine Press,http://images.amazon.com/images/P/1888173408.0...

In [514]:
new_ratings.shape

(604854, 8)

In [515]:
#shape before merging and after merging is not same it indicates that there were some missing values.

In [516]:
ratings_with_books=new_ratings.groupby('title')['ratings'].count().reset_index()

In [517]:
ratings_with_books

                                                    title  ratings
0        A Light in the Storm: The Civil War Diary of ...        3
1                                   Always Have Popsicles        1
2                    Apple Magic (The Collector's series)        1
3        Beyond IBM: Leadership Marketing and Finance ...        1
4        Clifford Visita El Hospital (Clifford El Gran...        1
...                                                   ...      ...
182179                   Ã?Â?berraschung am Valentinstag.        1
182180                                      Ã?Â?lpiraten.        1
182181                     Ã?Â?rger mit Produkt X. Roman.        2
182182                              Ã?Â?stlich der Berge.        1
182183                                  Ã?Â?thique en toc        2

[182184 rows x 2 columns]

In [518]:
ratings_with_books.rename(columns=({
    'ratings':'ratingwith_book'}),inplace=True)

In [519]:
ratings_with_books

                                                    title  ratingwith_book
0        A Light in the Storm: The Civil War Diary of ...                3
1                                   Always Have Popsicles                1
2                    Apple Magic (The Collector's series)                1
3        Beyond IBM: Leadership Marketing and Finance ...                1
4        Clifford Visita El Hospital (Clifford El Gran...                1
...                                                   ...              ...
182179                   Ã?Â?berraschung am Valentinstag.                1
182180                                      Ã?Â?lpiraten.                1
182181                     Ã?Â?rger mit Produkt X. Roman.                2
182182                              Ã?Â?stlich der Berge.                1
182183                                  Ã?Â?thique en toc                2

[182184 rows x 2 columns]

In [520]:
#lets change the name of the rating and merge in our raings with book df on title because title is common in both

In [521]:
new_ratings=new_ratings.merge(ratings_with_books,on='title')

In [522]:
new_ratings.head(3)

,user_id,ISBN,ratings,title,author,publication,Publisher,image,ratingwith_book
0,276925,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,105
1,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,105
2,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,105

In [523]:
# lets take the book that has been rated at least 35 times because based on lesser rating it doesnot make sense to reommend.

In [535]:
new_final_rating=new_ratings[new_ratings['ratingwith_book']>45]

In [536]:
new_final_rating

,user_id,ISBN,ratings,title,author,publication,Publisher,image,ratingwith_book
0,276925,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,105
1,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,105
2,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,105
3,10030,002542730X,7,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,105
4,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,105
...,...,...,...,...,...,...,...,...,...
365113,189835,067081458X,5,The Eyes of the Dragon,Stephen King,1987,Viking Books,http://images.amazon.com/images/P/067081458X.0...,62
365114,211426,067081458X,0,The Eyes of the Dragon,Stephen King,1987,Viking Books,http://images.amazon.com/images/P/067081458X.0...,62
365115,236283,067081458X,10,The Eyes of the Dragon,Stephen King,1987,Viking Books,http://images.amazon.com/images/P/067081458X.0...,62
365116,245371,067081458X,0,The Eyes of the Dragon,Stephen King,1987,Viking Books,http://images.amazon.com/images/P/067081458X.0...,62
365117,252820,067081458X,5,The Eyes of the Dragon,Stephen King,1987,Viking Books,http://images.amazon.com/images/P/067081458X.0...,62

In [537]:
new_final_rating.drop_duplicates(['user_id','title'],inplace=True)

In [538]:
new_final_rating

,user_id,ISBN,ratings,title,author,publication,Publisher,image,ratingwith_book
0,276925,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,105
1,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,105
2,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,105
3,10030,002542730X,7,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,105
4,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,105
...,...,...,...,...,...,...,...,...,...
365112,185233,067081458X,5,The Eyes of the Dragon,Stephen King,1987,Viking Books,http://images.amazon.com/images/P/067081458X.0...,62
365114,211426,067081458X,0,The Eyes of the Dragon,Stephen King,1987,Viking Books,http://images.amazon.com/images/P/067081458X.0...,62
365115,236283,067081458X,10,The Eyes of the Dragon,Stephen King,1987,Viking Books,http://images.amazon.com/images/P/067081458X.0...,62
365116,245371,067081458X,0,The Eyes of the Dragon,Stephen King,1987,Viking Books,http://images.amazon.com/images/P/067081458X.0...,62
365117,252820,067081458X,5,The Eyes of the Dragon,Stephen King,1987,Viking Books,http://images.amazon.com/images/P/067081458X.0...,62

In [539]:
pivot_table=new_final_rating.pivot_table(index='title',columns='user_id',values='ratings')

In [540]:
pivot_table

user_id,183,254,507,882,1424,1435,1733,1903,2033,2110,...,276018,276463,276680,276925,277427,277478,277639,278137,278188,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010: Odyssey Two,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
204 Rosewood Lane,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
24 Hours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
You Belong To Me,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zoya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"\O\"" Is for Outlaw""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [541]:
pivot_table.fillna(0,inplace=True)

In [542]:
pivot_table

user_id,183,254,507,882,1424,1435,1733,1903,2033,2110,...,276018,276463,276680,276925,277427,277478,277639,278137,278188,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2010: Odyssey Two,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
204 Rosewood Lane,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24 Hours,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

how here are 1253 books now we will use euclidean distance to fill the similarities between the books

In [545]:
from sklearn.metrics.pairwise import cosine_similarity

In [547]:
sim_score=cosine_similarity(pivot_table)

In [549]:
sim_score

array([[1.        , 0.05433018, 0.08822804, ..., 0.06113212, 0.03702355,
        0.02413775],
       [0.05433018, 1.        , 0.02261123, ..., 0.04490084, 0.13145468,
        0.13227543],
       [0.08822804, 0.02261123, 1.        , ..., 0.09310325, 0.        ,
        0.        ],
       ...,
       [0.06113212, 0.04490084, 0.09310325, ..., 1.        , 0.05583662,
        0.02730229],
       [0.03702355, 0.13145468, 0.        , ..., 0.05583662, 1.        ,
        0.117391  ],
       [0.02413775, 0.13227543, 0.        , ..., 0.02730229, 0.117391  ,
        1.        ]])

In [550]:
# it is finding the similarity score with all the books including itselfs.

In [567]:
def lets_recommend(title):
    index=np.where(pivot_table.index==title)[0][0]
    to_recommend=sorted(list(enumerate(sim_score[index])),key=lambda x:x[1],reverse=True)[1:5]
    
    for i in to_recommend:
        print(pivot_table.index[i[0]])

In [572]:
lets_recommend('The Hobbit : The Enchanting Prelude to The Lord of the Rings')

The Two Towers (The Lord of the Rings, Part 2)
The Fellowship of the Ring (The Lord of the Rings, Part 1)
The Return of the King (The Lord of the Rings, Part 3)
Lord of the Flies